<html>
<body>
<h1>

{{title}}
</h1>

<form action="/contact/add" method="POST">
 
<label for="FullName">FullName
</label>
<input type="text" name="FullName" placeholder="name">


<label for="Phone">Phone
</label>
<input type="text" name="Phone" placeholder="Phone">

<input type="submit" value="add">

</form>

</body>

</html>